:root {--main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --primary-back-color: #ffffff;
  --primary-title-color: #212121;
  --primary-description-color: #757575;}

body {font-family: var(--main-font);
  font-style: normal;
  background-color: var(--primary-back-color);}

.list {list-style: none;}

.link {text-decoration: none;}

/*--header--*/ /*--header--*/ /*--header--*/

.logo {font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;}

.logo-item {color: var(--accent-color);}

.nav-list {font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);}

.tap {color: var(--accent-color);}

.address-list {font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-description-color);}

.nav-list:hover,
.nav-list:focus,
.address-list:hover,
.address-list:focus {color: var(--accent-color);}

/*--end header--*/ /*--end header--*/ /*--end header--*/

/*--order--*/ /*--order--*/ /*--order--*/
.order-list {font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;}

.modal-btn {font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);}
/*--order--*/  /*--order--*/  /*--order--*/

/*--differences--*/  /*--differences--*/
.differences-title {font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);}

.differences-about {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-description-color);
}
/*--end differences--*/  /*--end differences--*/

/*<!--workflow-->*/
.workflow-title {font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);}
/*--workflow--*/  /*--workflow--*/

/*--our-team--*/
.our-team {background-color: #f5f4fa;}

.our-team-title {font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);}

.our-team-item {font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);}

.our-team-position {font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-description-color);}


/*--end our-team--*/

/*--footer--*/

.logo-link {font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;}
.address-list {font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;}

.contacts {font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);}

.footer-background {background-color: #2f303a;}

/*--end footer--*/ /*--end footer--*/

/*--portfolio buttons--*/ /*--portfolio buttons--*/

.button-list {font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);}

.button-list:hover,
.button-list:focus {color: #ffffff;
  background-color: var(--accent-color);}

/*--end portfolio buttons--*/  /*--end portfolio buttons--*/

/*--portfolio--*/  /*--portfolio--*/  
.portfolio-title {font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);}

.portfolio-item {font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-description-color);}

  /*--portfolio--*/  /*--portfolio--*/